:root {
    --primary-color: #fff;
    --color-purple: #624fe0;
    --color-blue: #4357da;
    --color-white: #fff;
    --color-black: #1d1d1d;
    --color-grey: #4b4b4b;
    --color-light-grey: #dfe0e9;
    --color-dark-grey: #76788b;
    --color-purple-hover: rgba(0,0,0,0.09);
    --color-border: rgba(223, 224, 233, 0.61);
    
    --radius: 3px;
}